<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Vue练习</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../common/css/style.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet"
    type="text/css">
  <link href="../common/quasar/quasar.min.css" rel="stylesheet" type="text/css">
</head>

<body>
  <script src="../common/js/vue.js"></script>
  <script src="../common/quasar/quasar.umd.min.js"></script>
  <!-- menu菜单按钮 -->
  <!-- <btn-menu></btn-menu> -->
  <template id="BtnMenu">
    <div>
      <q-btn-group push>
        <q-btn onclick="location.href='/index.html'" flat class="text-white bg-info" label="HOME"></q-btn>
        <q-btn color="secondary" label="Menu">
          <q-menu auto-close>
            <q-list style="min-width: 100px">
              <q-item clickable v-for="(m,index) in menus" :key="index">
                <q-item-section>
                  <a :href="st+m.url">
                    <div>
                      <span class="text-secondary">{{ m.title }}</span>
                      <span>{{ m.message }}</span>
                    </div>
                  </a>
                </q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
      </q-btn-group>
    </div>
  </template>
  <script type="text/javascript" src="./menu.js"></script>
  <div id="app">
    <template>
      <div class="q-pa-md">
        <q-toolbar class="bg-secondary text-white shadow-2">
          <q-toolbar-title>{{ title }}</q-toolbar-title>
          </q-toolbar-title>
          <btn-menu></btn-menu>
        </q-toolbar>
        <div class="q-gutter-y-md" style="width: 100%;">
          <q-card>
            <q-card-section class="text-secondary">
              <div class="text-h6 text-secondary">{{ title }}</div>
              <h6>什么是Promise</h6>
              <ul>
                <li>Promise是异步编程的一种解决方案</li>
                <li>什么情况下会用到Promise？一般情况下是有一部操作时，使用Promise对这个异步操作进行封装</li>
              </ul>
              <h6>Promise的三种状态</h6>
              <ul>
                <li>pending: 等待状态，比如正在进行网络请求，或者定时器没有到时间。</li>
                <li>fulfill: 满足状态，当我们主动回调了resolve时，就处于该状态，并且会回调.then()</li>
                <li>reject: 拒绝状态，当我们主动回调了reject时，就处于该状态，并且会回调.catch()</li>
              </ul>
              <h6>Promise链式调用</h6>
              <h6>Promise的all方法使用</h6>
            </q-card-section>
            <q-tabs v-model="tab" dense class="text-grey" active-color="secondary" indicator-color="secondary"
              align="justify" narrow-indicator>
              <q-tab name="show" label="SHOW"></q-tab>
              <q-tab name="code" label="CODE"></q-tab>
            </q-tabs>

            <q-separator></q-separator>

            <q-tab-panels v-model="tab" animated>
              <q-tab-panel name="show">
                <div class="text-h6">
                  <div id="Test">
                    <h2>夏目</h2>
                  </div>
                </div>
              </q-tab-panel>

              <q-tab-panel name="code">
                <pre v-pre class="text-weight-medium bg-green-2">
&lt;div id=&quot;Test&quot;&gt;
  &lt;h2&gt;夏目&lt;/h2&gt;
&lt;/div&gt;

&lt;script type=&quot;text/javascript&quot;&gt;
  // 参数 -&gt; 函数(resolve,reject)
  // resolve,reject本身它们又是函数
  // new -&gt; 构造函数(1.报错了一些状态信息 2.执行传入的函数)
  // 在执行传入的回调函数时，会传入两个参数，resolve,reject,本身又是函数
  new Promise((resolve, reject) =&gt; {
    // 成功时执行resolve()
    resolve(&#x27;success&#x27;)
    // 失败的时候调用reject()
    reject(&#x27;error&#x27;)
  }).then((data) =&gt; {
    console.log(data);
  }).catch(err =&gt; {
    console.log(err)
  })

  // 另一种写法
  new Promise((resolve, reject) =&gt; {
    // 成功时执行resolve()
    resolve(&#x27;success&#x27;)
    // 失败的时候调用reject()
    reject(&#x27;error&#x27;)
  }).then((data) =&gt; {
    console.log(data);
  }, err =&gt; {
    console.log(err)
  })
  // 例子：
  new Promise((resolve, reject) =&gt; {
    setTimeout(() =&gt; {
      resolve()
    }, 1000)
  }).then(() =&gt; {
    document.getElementById(&#x27;Test&#x27;).appendChild(document.createTextNode(&#x27;1夏目友人帐1&#x27;));

    return new Promise((resolve, reject) =&gt; {
      setTimeout(() =&gt; {
        resolve()
      }, 1000)
    })
  }).then(() =&gt; {
    document.getElementById(&#x27;Test&#x27;).appendChild(document.createTextNode(&#x27;2夏目友人帐1&#x27;));

    return new Promise((resolve, reject) =&gt; {
      setTimeout(() =&gt; {
        resolve()
      }, 1000)
    })
  }).then(() =&gt; {
    document.getElementById(&#x27;Test&#x27;).appendChild(document.createTextNode(&#x27;3夏目友人帐1&#x27;));
  })
&lt;/script&gt;
&lt;script type=&quot;text/javascript&quot;&gt;
  // 网络请求：aaa -&gt; 自己处理（10行）
  // 处理：aaa111 -&gt; 自己处理（10行）
  // 处理：aaa111222 -&gt; 自己处理（10行）
  new Promise((resolve, reject) =&gt; {
    setTimeout(() =&gt; {
      resolve(&#x27;aaa&#x27;);
    }, 1500)
  }).then(res =&gt; {
    console.log(res, &#x27;------1------&#x27;);

    return new Promise((resolve) =&gt; {
      resolve(res + &#x27;111&#x27;)
    })
  }).then(res =&gt; {
    console.log(res, &#x27;------2------&#x27;)

    return new Promise((resolve) =&gt; {
      resolve(res + &#x27;222&#x27;)
    })
  }).then(res =&gt; {
    console.log(res, &#x27;------3------&#x27;)
  })
  // 简便写法
  new Promise((resolve, reject) =&gt; {
    setTimeout(() =&gt; {
      resolve(&#x27;aaa&#x27;);
    }, 1500)
  }).then(res =&gt; {
    console.log(res, &#x27;------1------&#x27;);

    return Promise.resolve(res + &#x27;111&#x27;)
  }).then(res =&gt; {
    console.log(res, &#x27;------2------&#x27;)

    return Promise.resolve(res + &#x27;222&#x27;)
  }).then(res =&gt; {
    console.log(res, &#x27;------3------&#x27;)
  })
  // 省略Promise.resolve()
  new Promise((resolve, reject) =&gt; {
    setTimeout(() =&gt; {
      resolve(&#x27;aaa&#x27;);
    }, 1500)
  }).then(res =&gt; {
    console.log(res, &#x27;------1------&#x27;);

    return res + &#x27;111&#x27;
  }).then(res =&gt; {
    console.log(res, &#x27;------2------&#x27;)

    return res + &#x27;222&#x27;
  }).then(res =&gt; {
    console.log(res, &#x27;------3------&#x27;)
  })
  // 处理错误
  new Promise((resolve, reject) =&gt; {
    setTimeout(() =&gt; {
      resolve(&#x27;aaa&#x27;);
    }, 1500)
  }).then(res =&gt; {
    console.log(res, &#x27;------1------&#x27;);

    throw &#x27;error message&#x27;
  }).then(res =&gt; {
    console.log(res, &#x27;------2------&#x27;)

    return res + &#x27;222&#x27;
  }).then(res =&gt; {
    console.log(res, &#x27;------3------&#x27;)
  }).catch(err =&gt; {
    console.log(err)
  })
&lt;/script&gt;
&lt;script type=&quot;text/javascript&quot;&gt;
  // 请求一：111
  // 请求二：222
  // 操作三：111 + 222
  Promise.all([
    new Promise((resolve,reject) =&gt; {
      setTimeout(() =&gt; {
        resolve(&#x27;111&#x27;)
      },1500)
    }),
    new Promise((resolve,reject) =&gt; {
      setTimeout(() =&gt; {
        resolve(&#x27;222&#x27;)
      },1000)
    })
  ]).then(result =&gt; {
    console.log(result[0] + result[1])
  })
&lt;/script&gt;
                </pre>
              </q-tab-panel>
            </q-tab-panels>
          </q-card>
        </div>
      </div>
    </template>
  </div>
<script type="text/javascript">
  // 参数 -> 函数(resolve,reject)
  // resolve,reject本身它们又是函数
  // new -> 构造函数(1.报错了一些状态信息 2.执行传入的函数)
  // 在执行传入的回调函数时，会传入两个参数，resolve,reject,本身又是函数
  new Promise((resolve, reject) => {
    // 成功时执行resolve()
    resolve('success')
    // 失败的时候调用reject()
    reject('error')
  }).then((data) => {
    console.log(data);
  }).catch(err => {
    console.log(err)
  })

  // 另一种写法
  new Promise((resolve, reject) => {
    // 成功时执行resolve()
    resolve('success')
    // 失败的时候调用reject()
    reject('error')
  }).then((data) => {
    console.log(data);
  }, err => {
    console.log(err)
  })
  // 例子：
  new Promise((resolve, reject) => {
    setTimeout(() => {
      resolve()
    }, 1000)
  }).then(() => {
    document.getElementById('Test').appendChild(document.createTextNode('1夏目友人帐1'));

    return new Promise((resolve, reject) => {
      setTimeout(() => {
        resolve()
      }, 1000)
    })
  }).then(() => {
    document.getElementById('Test').appendChild(document.createTextNode('2夏目友人帐1'));

    return new Promise((resolve, reject) => {
      setTimeout(() => {
        resolve()
      }, 1000)
    })
  }).then(() => {
    document.getElementById('Test').appendChild(document.createTextNode('3夏目友人帐1'));
  })
</script>
<script type="text/javascript">
  // 网络请求：aaa -> 自己处理（10行）
  // 处理：aaa111 -> 自己处理（10行）
  // 处理：aaa111222 -> 自己处理（10行）
  new Promise((resolve, reject) => {
    setTimeout(() => {
      resolve('aaa');
    }, 1500)
  }).then(res => {
    console.log(res, '------1------');

    return new Promise((resolve) => {
      resolve(res + '111')
    })
  }).then(res => {
    console.log(res, '------2------')

    return new Promise((resolve) => {
      resolve(res + '222')
    })
  }).then(res => {
    console.log(res, '------3------')
  })
  // 简便写法
  new Promise((resolve, reject) => {
    setTimeout(() => {
      resolve('aaa');
    }, 1500)
  }).then(res => {
    console.log(res, '------1------');

    return Promise.resolve(res + '111')
  }).then(res => {
    console.log(res, '------2------')

    return Promise.resolve(res + '222')
  }).then(res => {
    console.log(res, '------3------')
  })
  // 省略Promise.resolve()
  new Promise((resolve, reject) => {
    setTimeout(() => {
      resolve('aaa');
    }, 1500)
  }).then(res => {
    console.log(res, '------1------');

    return res + '111'
  }).then(res => {
    console.log(res, '------2------')

    return res + '222'
  }).then(res => {
    console.log(res, '------3------')
  })
  // 处理错误
  new Promise((resolve, reject) => {
    setTimeout(() => {
      resolve('aaa');
    }, 1500)
  }).then(res => {
    console.log(res, '------1------');

    throw 'error message'
  }).then(res => {
    console.log(res, '------2------')

    return res + '222'
  }).then(res => {
    console.log(res, '------3------')
  }).catch(err => {
    console.log(err)
  })
</script>
<script type="text/javascript">
  // 请求一：111
  // 请求二：222
  // 操作三：111 + 222
  Promise.all([
    new Promise((resolve,reject) => {
      setTimeout(() => {
        resolve('111')
      },1500)
    }),
    new Promise((resolve,reject) => {
      setTimeout(() => {
        resolve('222')
      },1000)
    })
  ]).then(result => {
    console.log(result[0] + result[1])
  })
</script>
  <script type="text/javascript">
    const app = new Vue({
      el: '#app',
      data: {
        tab: 'show',
        title: '第125-128课 Promise[使用，三种状态，链式调用，all方法]',
        messages: [
          '',
        ],
      }
    });
  </script>
</body>

</html>